{% extends 'base.html' %}

{% block title %} Event Detail {% endblock %}

{% block content %}

<div class="card">

    <div class="card-body shadow p-3 mb-2 bg-light rounded">
        <h4 class="card-title">{{ event }}</h4>
        
        <p class="card-text">
                {{ event.description }}
        </p>

        {% if user.is_authenticated %}
            <a class="btn btn-outline-primary" href="{% url 'show' event.pk %}" class="card-link">Show Participants</a>
            <a class="btn btn-outline-primary" href="{% url 'edit' event.pk %}" class="card-link">Edit</a>
            <a class="btn btn-outline-warning" href="{% url 'delete' event.pk %}" class="card-link">Delete Event</a>
        {% else %}
        {% endif %}
        <a class="btn btn-outline-secondary" href="{% url 'events_list' %}" class="card-link">Back</a>

        <div class="card-footer">
            <p> Start Date of the Event: {{ event.date_from }} Ends on: {{ event.date_to }}</p>
            <p> Start Time of the Event: {{ event.time_from }} to {{ event.time_to }}</p>
            <p> {{ event.all_participants }} </p>
        </div>

    </div>

</div>

{% endblock %}



