{% extends 'base.html' %}

{% block title %} My Events {% endblock %}

{% block content %}

<h1>Events Created</h1>

<a class="btn btn-outline-primary" href="{% url 'create_event' %}">Add New Event</a>

<div class="card">
    
    {% for event in object_list %}

    <div class="card-body shadow p-3 mb-2 bg-light rounded">
        <h4 class="card-title">{{ event }}</h4>
        
        <p class="card-text">
                {{ event.description }}
        </p>
        
        <a href="{% url 'event_detail' event.pk %}">See more</a>

    </div>
    {% endfor %}
</div>

{% endblock %}


