{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    </ol>

      <div class="carousel-inner w-75 mx-auto p-5" role="listbox">
        <div class="carousel-item active">
          <img style="height: 500px;" class="d-block w-100" src="https://upload.wikimedia.org/wikipedia/commons/2/24/Camarines_Sur_National_High_School_facade_01.jpg" >
          <div class="carousel-caption" style="color: black; margin-bottom: 300px;">
            <h2>Event Management System</h2>
            <p>CSNHS X ADNU PEEPS</p>
          </div>
        </div>
        <div class="carousel-item">
          <img style="height: 500px;" class="d-block w-100" src="https://upload.wikimedia.org/wikipedia/commons/9/9c/WTNaga_BAHALANA_A2.JPG">
          <div class="carousel-caption" style="color: black; margin-bottom: 300px;">
            <h2>Event Management System</h2>
            <p>CSNHS X ADNU PEEPS</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
  <h1 class="text-center">Team Members</h1>
</div>

<div class="row" style="text-align: center;" >
    <div class="col-lg-4">
      <img src="/media/images/boy.png" class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></img>
      <h2>Glenn B. Viola</h2>
      <p>Software Engineer</p>
      <p>"You'll never say no if you'll always say yes."</p>
    </div>
    <div class="col-lg-4">
        <img src="/media/images/boy1.png" class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></img>
        <h2>Sentone D. Cabral</h2>
        <p>Project Leader</p>
        <p>"Stop doubting, Start Believing."</p>

      </div>
    <div class="col-lg-4">
      <img src="/media/images/boy3.png" class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></img>
      <h2>Karl Francis S. Catolico</h2>
      <p>Software Engineer</p>
      <p>"Education for the Total Man"</p>
    </div>
    <div class="col-lg-4">
      <img src="/media/images/boy2.png" class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></img>
      <h2>Jan Aldrin A. Madamba</h2>
      <p>UI/UX Designer</p>
      <p>"Stay Positive."</p>
    </div>
    <div class="col-lg-4">
      <img src="/media/images/girl.png" class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></img>
      <h2>Elisha L. Francia</h2>
      <p>Database Administrator</p>
      <p>"Always put God above all things."</p>

    </div>
    <div class="col-lg-4">
      <img src="/media/images/boy5.png" class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></img>
      <h2>Raymart S. Vergara</h2>
      <p>Business Analytics</p>
      <p>""</p>
    </div>          
  </div>

   
   

{% endblock %} -->
